<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot-pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="text-center">

    <ion-label style="display: inline-block;
  margin: 30px;
  background-color: lightskyblue;
  border: 2px solid mediumblue;
  color: mediumblue;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 255, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.1);">Olvidaste tu contrasenia?</ion-label>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <!-- Input de Email -->
      <ion-label class="text-gray-400 text-lg font-semibold">Ingresa tu Email, recibiras un correo de
        recuperacion</ion-label><br>
      <input #emailModel="ngModel" [(ngModel)]="email" name="email"
        class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="email" required
        placeholder="email@gmail.com"><br><br>
      <div *ngIf="emailModel.invalid && emailModel.touched" style="color:red;">Please enter a valid email</div>

      <button
        class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
        expand="full" type="submit" [disabled]="loginForm.invalid">Enviar</button>
    </form>

    <button (click)="onSignup()"
      class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
      Go to Login</button>
  </div>
</ion-content>